doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.  
  link(rel="stylesheet", href="css/app.css")
  script(src="js/app.js")
  block header

body
  #spk-viewer
    #spk-sidebar
      #spk-metadata
      #spk-sliders
    #spk-canvas
      p Future canvas

  