doctype html
html
  head
  title Future.Speckle: Display and explore parametric models in your browser.  
  link(rel="stylesheet", href="css/app.css")
  script(src="js/app.js")
  block header

body
  block content
  h1 YAY
  h2 BOO
  